<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/jquery-min.js" charset="utf-8"></script>
  <title></title>
</head>

<body>
  <div id="app-2">
    <span v-bind:title="message">
      내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
    </span>
  </div>
  <div id="app-3">
    <p v-if="seen">이제 나를 볼 수 있어요</p>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="sam in todos" v-if="seen">
        {{ sam.text }}
      </li>
    </ol>
  </div>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">메시지 뒤집기</button>
  </div>
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  <div id="app-7">
    <ol>
      <!--
        이제 각 todo-item 에 todo 객체를 제공합니다.
        화면에 나오므로, 각 항목의 컨텐츠는 동적으로 바뀔 수 있습니다.
        또한 각 구성 요소에 "키"를 제공해야합니다 (나중에 설명 됨).
       -->
       <tod-item></tod-item>
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>
  <div class="app-8">
    <a v-bind:href="website" target="_blank">{{ddd}}</a>
    <input type="text" name="" value="" v-model="ddd">
    <p v-html='weberf'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <ol>
  <!-- todo-item 컴포넌트의 인스턴스 만들기 -->
  <todo-item></todo-item>
</ol>
  <script src="js/App.js" charset="utf-8"></script>
</body>

</html>
